---
layout: single
header:
---

<img class="centeralign" width=40% src="/assets/images/tree.png"</img>
     

<p>Welcome the homepage of the DFG-funded project 'Towards a General Theory of Mulitvation', hosted at the Institut für Lnguistik, Goethe-Universität, Frankfurt.</p>


<p>For a full description of the project, click <a href="/assets/files/mvsummary.pdf">here</a>.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
